*{
    margin: 0;
    padding: 0;
}
.header{
    margin-bottom: 70px;
}

body{
    background-image: url('../img/mapbg.jpg');
}
.container-fluid{
    height: 100%;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}